@charset "utf-8";
/* CSS Document */

body
{
	background: red;
    background: -webkit-linear-gradient(lightblue, lightpink);
    background: -o-linear-gradient(lightblue, lightpink);
    background: -moz-linear-gradient(lightblue, lightpink);
    background: linear-gradient(lightblue, lightpink);
}
@media only screen and (min-device-width: 961px) {
.banner
{
	border-radius: 125px;
	z-index: -1;
	height: 10%;
	width: 90%;
	position: relative;
	top: 10px;
}

.welcome, .funny
{
	height: 70%;
	width: 30%;
	float: left;
	left: 150px;
	font-size: 16pt;
	
}
	
h1
{
	text-align: center;
	font-size: 30pt;
	height: 10%;
	width: 90%;
}

ul
{
	display: inline;
	list-style-type: none;
}

li
{
	display: inline;
	border: medium solid black;
	font-size: 16pt;
	color: black;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	margin-left: 2%;
	padding: 0px;
}

li a:link
{
	color: black;
}

li a:visited
{
	background-color: green;
	color: white;
}

li a:hover
{
	background-color: red;
	color: white;
}

li a:active
{
	background-color: blue;
	color: white;
}

#Games1, #Games2, #Games3, #DVD1, #DVD2, #DVD3, #BluRay1, #BluRay2, #BluRay3
{
	height: 70%;
	width: 30%;
	text-align: center;
	float: right;
}


.About
{
	height: 70%;
	width: 33%;
	float: center;
}

footer
{
	poistion: fixed;
	text-align: center;
	clear: both;
}
	
}

@media only screen and (max-device-width: 480px) {
	
.banner
{
	border-radius: 125px;
	z-index: -1;
	height: 10%;
	width: 90%;
	position: relative;
	top: 10px;
}

.welcome, .funny
{
	height: 70%;
	width: 30%;
	float: left;
	left: 150px;
	font-size: 16pt;
	
}
	
h1
{
	text-align: center;
	font-size: 30pt;
	height: 10%;
	width: 90%;
}

ul
{
	display: inline;
	list-style-type: none;
}

li
{
	display: inline;
	border: medium solid black;
	font-size: 16pt;
	color: black;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	margin-left: 2%;
	padding: 0px;
}

li a:link
{
	color: black;
}

li a:visited
{
	background-color: green;
	color: white;
}

li a:hover
{
	background-color: red;
	color: white;
}

li a:active
{
	background-color: blue;
	color: white;
}

#Games1, #Games2, #Games3, #DVD1, #DVD2, #DVD3, #BluRay1, #BluRay2, #BluRay3
{
	height: 70%;
	width: 30%;
	text-align: center;
	float: right;
}


.About
{
	height: 70%;
	width: 33%;
	float: center;
}

footer
{
	poistion: fixed;
	text-align: center;
	clear: both;
}
	
}

@media only screen and (min-device-width: 481px) and (max-device-width: 960px)
{
	
.banner
{
	border-radius: 125px;
	z-index: -1;
	height: 10%;
	width: 90%;
	position: relative;
	top: 10px;
}

.welcome, .funny
{
	height: 70%;
	width: 30%;
	float: left;
	left: 150px;
	font-size: 16pt;
	
}
	
h1
{
	text-align: center;
	font-size: 30pt;
	height: 10%;
	width: 90%;
}

ul
{
	display: inline;
	list-style-type: none;
}

li
{
	display: inline;
	border: medium solid black;
	font-size: 16pt;
	color: black;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	margin-left: 2%;
	padding: 0px;
}

li a:link
{
	color: black;
}

li a:visited
{
	background-color: green;
	color: white;
}

li a:hover
{
	background-color: red;
	color: white;
}

li a:active
{
	background-color: blue;
	color: white;
}

#Games1, #Games2, #Games3, #DVD1, #DVD2, #DVD3, #BluRay1, #BluRay2, #BluRay3
{
	height: 70%;
	width: 30%;
	text-align: center;
	float: right;
}


.About
{
	height: 70%;
	width: 33%;
	float: center;
}

footer
{
	poistion: fixed;
	text-align: center;
	clear: both;
}
	
}